In [1]:
import bamboolib as bam
bam.enable()

Success: the bamboolib extension was enabled successfully. You can disable it via 'bam.disable()'. You will now see a magic bamboolib button when you display your dataframes, for example via 'df'

In [2]:
import pandas as pd
import os
import glob

In [3]:
os.chdir('C:/Users/Светлана/Desktop/РАНХИС/Итоговая')

In [4]:
df_1=pd.read_excel('box_4.xlsx', sheet_name= 'Sales' )
df_1

       OrderNumber  OrderDate    Channel Currency Code Warehouse Code  \
0      SO - 000105 2014-06-01  Wholesale           USD         AXW291
1      SO - 000120 2014-06-02  Wholesale           USD         AXW291
2      SO - 000126 2014-06-03  Wholesale           USD         AXW291
3      SO - 000153 2014-06-06  Wholesale           USD         AXW291
4      SO - 000172 2014-06-09  Wholesale           USD         AXW291
...            ...        ...        ...           ...            ...
7995  SO - 0007921 2016-12-10     Export           USD         FLR025
7996  SO - 0007924 2016-12-11     Export           USD         FLR025
7997  SO - 0007931 2016-12-13     Export           USD         FLR025
7998  SO - 0008040 2016-12-25     Export           USD         FLR025
7999  SO - 0008087 2016-12-31     Export           USD         FLR025

      Delivery Region Index  Product Description Index  Order Quantity  \
0                        20                          7               6
1                        25                          7               8
2                        20                          7              11
3                        20                          7              11
4                        18                          7               6
...                     ...                        ...             ...
7995                     60                          2               7
7996                     63                          1              10
7997                     63                          1              12
7998                     62                          7              10
7999                     61                         11               6

      Unit Price  Line Total  Total Unit Cost  Customer Name Index
0         1822.4     10934.4         1476.144                   49
1         3095.4     24763.2         1795.332                   23
2          174.2      1916.2           95.810                   46
3         3926.2     43188.2         3062.436                    8
4         1005.0      6030.0          743.700                    6
...          ...         ...              ...                  ...
7995      6050.1     42350.7         3509.058                   24
7996       268.0      2680.0          217.080                   39
7997       951.4     11416.8          694.522                   19
7998       837.5      8375.0          335.000                   16
7999       234.5      1407.0          121.940                   41

[8000 rows x 12 columns]

In [5]:
df_2 = pd.read_excel('box_4.xlsx', sheet_name= "Region" )
df_2

    Index                    City  Country  Region Sales   Region Group  \
0       1                  LONDON       UK     1870700.3  Lower Regions
1       2                  BERLIN  Germany     1918498.1  Lower Regions
2       3                  MADRID    Spain     2458672.2    Top Regions
3       4                    ROMA    Italy     2550696.7    Top Regions
4       5                    KIEV  Ukraine     2701319.4    Top Regions
..    ...                     ...      ...           ...            ...
61     62                Duisburg  Germany     2689721.7    Top Regions
62     63                Hannover  Germany     2232051.4    Mid Regions
63     64                Mykolaiv  Ukraine     2384416.1    Top Regions
64     65                    OSLO   Norway     2327653.7    Top Regions
65     66  KOBENHAVN (Copenhagen)  Denmark     2588310.5    Top Regions

                          Full Name
0                        LONDON, UK
1                   BERLIN, Germany
2                     MADRID, Spain
3                       ROMA, Italy
4                     KIEV, Ukraine
..                              ...
61                Duisburg, Germany
62                Hannover, Germany
63                Mykolaiv, Ukraine
64                     OSLO, Norway
65  KOBENHAVN (Copenhagen), Denmark

[66 rows x 6 columns]

In [6]:
df_3 = pd.read_excel('box_4.xlsx', sheet_name= "Products" )
df_3

    Index Product Name  Product Sales
0       1    Product 1     25571548.3
1       2    Product 2     22913892.8
2       3    Product 3      3066281.8
3       4    Product 4      2857288.7
4       5    Product 5     17047098.1
5       6    Product 6      3341216.3
6       7    Product 7     25715986.9
7       8    Product 8      3215604.7
8       9    Product 9      9261644.5
9      10   Product 10      3115647.4
10     11   Product 11     20621809.4
11     12   Product 12      3109289.1
12     13   Product 13     11774660.4
13     14   Product 14      3144263.1

In [47]:
df_4 = pd.read_excel('box_4.xlsx', sheet_name= "Customers" )
df_4

    Customer Index   Customer Names  Customer Sales
0                1        Avon Corp       2694766.8
1                2         WakeFern       2364959.3
2                3     Elorac, Corp       3209956.6
3                4        ETUDE Ltd       3288018.3
4                5     Procter Corp       2974210.4
5                6    PEDIFIX, Corp       2818200.9
6                7          New Ltd       2862005.5
7                8     Medsep Group       2825812.1
8                9               Ei       3273653.5
9               10         21st Ltd       3170111.7
10              11       Apollo Ltd       3600358.9
11              12          Medline       4081485.9
12              13        Ole Group       3462881.6
13              14            Linde       3314610.6
14              15    Rochester Ltd       3039903.9
15              16        3LAB, Ltd       2756440.3
16              17       Pure Group       3821592.9
17              18    Eminence Corp       3643426.5
18              19        Qualitest       3002497.8
19              20      Pacific Ltd       2834636.0
20              21             Ohio       3347681.8
21              22          Capweld       2939511.1
22              23           E. Ltd       3158192.4
23              24      Burt's Corp       2956435.3
24              25     Prasco Group       3215933.0
25              26       Mylan Corp       2688361.6
26              27       Wuxi Group       2584592.0
27              28       Dharma Ltd       2894145.4
28              29    Apotheca, Ltd       3608492.7
29              30     S.S.S. Group       2830234.1
30              31      Uriel Group       2871251.5
31              32      OHTA'S Corp       3533801.1
32              33           Trigen       3001827.8
33              34          OUR Ltd       3676035.4
34              35     Amylin Group       2692575.9
35              36         O.E. Ltd       3188148.1
36              37  AuroMedics Corp       2881067.0
37              38       Ascend Ltd       2773974.2
38              39      Victory Ltd       3407814.3
39              40           Select       2940770.7
40              41      Weimei Corp       3166426.7
41              42      Llorens Ltd       3003623.4
42              43   Exact-Rx, Corp       3081430.5
43              44         Winthrop       2831741.6
44              45            Nipro       3216770.5
45              46         U.S. Ltd       2938130.9
46              47   Niconovum Corp       2873388.8
47              48     Fenwal, Corp       3244990.9
48              49             Bare       2973573.9
49              50          Sundial       3195779.4

In [45]:
df_4 = df_4.drop_duplicates()
df_4.head(5)

   Customer Index Customer Names  Customer Sales
0               1      Avon Corp       2694766.8
1               2       WakeFern       2364959.3
2               3   Elorac, Corp       3209956.6
3               4      ETUDE Ltd       3288018.3
4               5   Procter Corp       2974210.4

In [46]:
df_4.count()

Customer Index    50
Customer Names    50
Customer Sales    50
dtype: int64